	<p><label>Bot ID:</label> <%= bot.id %></p>
	<p><label>Bot URL:</label> <a href="<%= bot.url %>" target="_blank"><%= bot.url %></a></p>
	<p><label>Bot Match Element:</label> <%= bot.match_el %></p>
	<p><label>Bot Match Parent:</label> <%= bot.match_parent %></p>
	<p><label>Bot Match String:</label> <span style="color:red"><%= bot.match_string %></span></p>
	<p><label>Bot Return Element:</label> <%= bot.return_el %></p>
	<p><label>Created At</label> <%= bot.createdAt %></p>
	<p><label>Updated At</label> <%= bot.updatedAt %></p>
	<hr>
	<p><label>Results:</label></p>
	<p id="results"><%= results %></p>

	<svg version="1.1" id="bglogo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
	<path fill="#E0DFDE" d="M589.473,439.263V348.51h-54.18c-6.032-31.135-18.139-60.024-35.148-85.401l37.167-37.206l-64.146-64.17
		l-37.23,37.194c-25.671-17.236-54.917-29.375-86.409-35.34v-51.681h-90.752v52.16c-31.363,6.429-60.345,19.185-85.797,36.782
		l-36.809-36.782l-64.17,64.209l37.708,37.717c-16.611,25.617-28.299,54.635-33.848,85.86l-53.688-0.067v90.819h55.149
		c6.558,30.483,19.019,58.692,36.193,83.425L74.33,565.211l64.209,64.17l40.121-40.123c24.925,16.262,53.138,27.855,83.46,33.565
		l-0.07,56.386h90.824v-56.901c30.219-6.17,58.298-18.214,83.063-34.795l39.539,39.535l64.17-64.209l-39.5-39.539
		c16.75-24.988,28.787-53.426,34.925-84.038H589.473z"/>
	<g>
		<path fill="#87837D" d="M202.981,472.033c0,6.182,5.058,11.239,11.239,11.239h12.094c6.182,0,11.239-5.058,11.239-11.239v-55.387
			c0-6.182-5.058-11.239-11.239-11.239h-12.094c-6.182,0-11.239,5.058-11.239,11.239V472.033z"/>
	</g>
	<g>
		<path fill="#87837D" d="M372.009,472.033c0,6.182,5.058,11.239,11.239,11.239h12.095c6.182,0,11.239-5.058,11.239-11.239v-55.387
			c0-6.182-5.058-11.239-11.239-11.239h-12.095c-6.182,0-11.239,5.058-11.239,11.239V472.033z"/>
	</g>
	<g>
		<path fill="#87837D" d="M285.166,584.858c4.121,0,5.482-2.706,3.023-6.014c0,0-14.777-19.882-31.525-19.882
			c-16.751,0-31.53,19.882-31.53,19.882c-2.459,3.307-1.098,6.014,3.023,6.014H285.166z"/>
	</g>
	<g>
		<path fill="#87837D" d="M385.253,584.858c4.121,0,5.481-2.706,3.023-6.014c0,0-14.779-19.882-31.524-19.882
			c-16.753,0-31.531,19.882-31.531,19.882c-2.458,3.308-1.098,6.014,3.023,6.014H385.253z"/>
	</g>
	<g>
		<path fill="#87837D" d="M205.905,219.233c-16.484,0-29.972,13.487-29.972,29.972v102.5c0,16.484,13.487,29.972,29.972,29.972
			h201.171c16.484,0,29.972-13.487,29.972-29.972v-102.5c0-16.484-13.487-29.972-29.972-29.972H205.905z M239.339,324.48
			c-13.996,0-25.347-11.339-25.347-25.335c0-13.997,11.351-25.348,25.347-25.348c13.997,0,25.335,11.352,25.335,25.348
			C264.675,313.141,253.336,324.48,239.339,324.48z M327.508,356.445c0,2.982-9.758,4.108-21.685,2.503s-21.685-4.045-21.685-5.422
			s9.758-2.503,21.685-2.503S327.508,353.463,327.508,356.445z M372.787,324.48c-13.997,0-25.347-11.339-25.347-25.335
			c0-13.997,11.349-25.348,25.347-25.348c13.997,0,25.334,11.352,25.334,25.348C398.121,313.141,386.784,324.48,372.787,324.48z"/>
	</g>
	<path fill="#87837D" d="M361.873,528.422c0,5.533-4.484,10.008-10.008,10.008h-93.871c-5.525,0-10.007-4.475-10.007-10.008V400.148
		c0-5.532,4.482-10.008,10.007-10.008h93.871c5.525,0,10.008,4.477,10.008,10.008V528.422z"/>
	</svg>	

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>
	$(function() {
		$('#results').html($.parseHTML($('#results').text())).find('a').attr('target', '_blank');
		//$('#results').html();
	});
	</script>
</body>
</html>